<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categories</title>
    <!-- link rel="stylesheet" th:href="@{/css/user.css}" -->
</head>
<body>
<h1>Categories</h1>
<a href="/categories/new">Add New Category</a>
<table>
    <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Budget Limit</th>
        <th>User</th>
        <th>Actions</th>
    </tr>
    <tr th:each="category : ${categories}">
        <td th:text="${category.category_id}"></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.budget_limit}"></td>
        <td th:text="${category.user != null ? category.user.name : 'N/A'}"></td>
        
        <td>
            <a th:href="@{/categories/edit/{category_id}(category_id=${category.category_id})}">Edit</a>
            <a th:href="@{/categories/delete/{category_id}(category_id=${category.category_id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>